<!DOCTYPE html>
<html>

<!--[if lt IE 7]>
<html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="es" class="no-js">
<!--<![endif]-->
<head>
    <title>Huggies</title>
    <meta charset="utf-8">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="css/vendor/normalize.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="app" ng-controller="PageController">
    <div class="page home">
        <header>
            <div class="container-fluid">
                <div class="wrap_menu">
                    <div class="social_nav"><a href="" class="icon fc"> <img src="images/fc.png" alt="Visita nuestro fan page"></a><a href="" class="icon tw"> <img src="images/tw.png" alt="Síguenos en twitter"></a><a href="" class="icon in"> <img src="images/in.png" alt="Visitanos en instragram"></a></div>
                </div>
            </div>
        </header>
        <div class="main">
            <div class="container-fluid">
                <div class="content home_content">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="wrap_envuelvelos_con_amor"><a href="/"><img src="images/envuelvelos_con_amor.png" alt="Envuelvelos con tu amor"></a></div>
                        </div>
                        <div class="col-sm-6">
                            <article>
                                <img src="images/regresan_los_canjes.png" alt="Regresasron los canjes" class="regresan_los_canjes">
                                <p>¡Vuelve divertidos sus baños <br> y encanta sus noches!</p><a data-toggle="modal" data-target="#videomodal" class="btns btn_video_home"><img src="images/videobg.png" alt="" class="videobg"></a>
                            </article>
                            <div class="sub_nav">
                                <a class="btns btn_canje"><img src="images/btn_canje.png" alt="Elige dónde realizar tu canje"></a>
                                <div class="wrap_subnav_option"><a class="btns back_subnav"><img src="images/back_subnav.png" alt="Regresar al submenu"></a><a href="mercados.cshtml" class="btns btn_mercado"><img src="images/btn_mercados.png" alt="ver mercados"></a><a href="supermercados.cshtml" class="btns btn_supermercado"><img src="images/btn_supermercados.png" alt="ver supermercados"></a></div>
                            </div><a href="" class="slink block mw">Términos y condiciones de la web</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="videomodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body wrap_video_home_content">
                    <div class="video_home_content"></div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <!-- footer-->
    <footer>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"><img src="images/mm.png" alt="" class="mm"></div>
                    <div class="col-sm-8">
                        <div class="social">Redes sociales</div>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                            sed diam nonumy eirmod tempor invidunt ut
                            labore et dolore magna aliquyam erat, sed
                            diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/vendor/jquery-1.11.2.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/TweenMax.min.js"></script>
    <script src="js/vendor/ScrollToPlugin.min.js"></script>
    <script src="js/vendor/angular.js"></script>
    <script src="js/ng/app.js"></script>
    <script src="js/ng/page-controller.js"></script>
    <script src="js/ng/map-controller.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4BrTGZ1r9PjXw4FEt-w0wB_OUgmUivdI"></script>
</body>
</html>
