<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5.2">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="On" />
  </system.web>
  <system.webServer>
    <staticContent>
       <remove fileExtension=".woff2"/>
       <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2"/>
       <remove fileExtension=".woff"/>
       <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
       <remove fileExtension=".eot"/>
       <mimeMap fileExtension=".eot" mimeType="application/x-font-eot"/>
       <remove fileExtension=".ttf"/>
       <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf"/>
    </staticContent>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="403"/>
      <error statusCode="403" path="error.cshtml" responseMode="Redirect"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="error.cshtml" responseMode="Redirect"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="error.cshtml" responseMode="Redirect"/>
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>